<ion-content [fullscreen]="true">
  <div class="container">
    <div class="image">
      <ion-img src="../../assets/images/email-received.svg"></ion-img>
    </div>
  
    <div class="reset-header">
      New Password
    </div>
  
    <div class="reset-description">
      Reset your password to recovery & login to your account.
    </div>
  
    <div class="form-container">
      <div class="password-field">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" name="password" placeholder="New password">
      </div>
      <div class="confirm-password-field">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" name="password" placeholder="Confirm password">
      </div>
      <div class="reset-button">
        <button>Confirm</button>
      </div>
    </div>
  </div>
</ion-content>
