<ion-content [fullscreen]="true">
  <div class="container">
    <div class="image">
      <ion-img src="../../assets/images/otp.svg"></ion-img>
    </div>

    <div class="otp-header">
      Verify your email
    </div>
  
    <div class="otp-description">
      Please check your email to take 4 digit code for continue.
    </div>

    <div class="form-container">
      <div class="otp-fields">
        <input type="text" name="otp">
        <input type="text" name="otp">
        <input type="text" name="otp">
        <input type="text" name="otp">
      </div>
      <div class="resend-code">
        <p>Resend code</p>
      </div>
      <div class="otp-button">
        <button>Send</button>
      </div>
    </div>
  </div>
</ion-content>
