<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid class="header">
      <ion-row>
        <ion-col class="back-icon">
          <a href="/login"><ion-icon name="chevron-back-outline"></ion-icon></a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="image">
      <ion-img src="../../assets/images/email-sent.svg"></ion-img>
    </div>

    <div class="forgot-header">
      Forgot Password?
    </div>
  
    <div class="forgot-description">
      Enter your email address for recovery your account.
    </div>
  
    <div class="form-container">
      <div class="email-field">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="forgot-button">
        <button>Reset password</button>
      </div>
    </div>
  </div>
</ion-content>
