.container {
    margin: 20px;
}

.forgot-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.forgot-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
}

.form-container .email-field {
    display: flex;
    align-items: center;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    margin: 5px 0;
}

.form-container input {
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
    margin-left: 5px;
    flex: 1;
}

.form-container input:focus {
    outline: none;
}

.form-container ion-icon {
    font-size: 20px;
    margin-left: 10px;
    color: rgb(128, 128, 128);
}

.forgot-button {
    margin-top: 20px;
}

.forgot-button button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #4277EB;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.forgot-button button:hover {
    background-color: #2a68ee;
}
